$clar:#fff;
$fosc:#000;
$base: darkslategray;
$base-suau: darkgray;
$base-clar: rgb(230, 227, 227);

$briefink:#ffff64;

//Gota Briefink
$gotaFora:#333333;
$gotaDins:#1A1A1A;

//Correcte incorrecte
$ko:#b50000;
$ok:#234823;
$meh:#ebe265;